/* You can add global styles to this file, and also import other style files

* {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg-color);
   color: var(--primary-bg-color);
}
body{
    --primary-bg-color: #fcdcdc;
    --primary-text-color: #e64475;
    --main-bg-color: #fbeeee;
    &.dark-theme {
        --primary-bg-color: #2c3e50;
        --primary-text-color: #07161a;
        --main-bg-color: #34495e;
    }
}

.navbar {
  padding: 1rem 2rem;
  background-color: #fcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle input {
  margin-left: 8px;
}

.section-title {
  text-align: center;
  color: var(--primary-bg-color);
  margin-top: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
}

.item {
  text-align: center;
  padding: 1rem;
  background: #fcdcdc;
  border-radius: 10px;
  width: 150px;
}

.item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
} */

/* body{
    background-color: black;
} */