h1 ,h2{
    text-align: center;
    font-weight: bold;
}
.flexd{
    display: flex; 
    justify-content: center; 

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.white{
    background-color: white;
}

.grid-container {
  display: grid;
   grid-template-columns: repeat(6, 1fr); 
  gap: 5px;
  padding: 5px;
}

.grid-item { 
  text-align: center;
  font-weight: bold; }

  