.parent-container{
    background-color: #393C47;
    color: white;
}
.btn{
    background-color:#FFD26B;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}